* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ededed;
  font-family: 'Mona Sans';
  font-size: 30px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  /* width: 321px;
  height: 208px; */

  width: 642px;
  height: 416px;

  display: flex;
  align-items: center;
  
  padding: 30px 30px 30px 10px;
  gap: 20px;

  background-color: white;
  border: 2px solid gray;
  border-radius: 15px;
}

.card-image {
  width: 40%;
  border-radius: 150px;
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.card-data-name {
  font-size: 1.2em;
  font-weight: 600;
}

.card-data-desc {
  font-size: 0.8em;
}

a {
  display: flex;
  /* align-self: center; */
  align-items: center;
  gap: 10px;
  font-size: 0.6em;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.link-icon {
  width: 32px;
}

.divider {
  height: 2px;
  background-color: black;
}

.footer {
  justify-self: flex-end;
  align-self: center;
  margin-bottom: 10px;
  font-size: 0.5em;
}

/* div, img {
  border: 1px dashed red;
}

a {
  border: 1px dashed blue;
} */
